@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');
@import 'tailwindcss';

@layer utilities {
  .input {
    @apply border-secondary border-1 rounded leading-loose indent-2;
  }
  .btn {
    @apply bg-secondary text-primary px-4 py-2 rounded border-secondary border-1 hover:bg-accent transition duration-300 ease-in-out;
  }

  .btn-secondary {
    @apply bg-accent text-primary px-4 py-2 rounded border-1 hover:bg-primary transition duration-300 ease-in-out;
  }
  .input-secondary {
    @apply border-secondary border-2 rounded leading-loose indent-2;
  }
  .select {
    @apply border-2 rounded leading-loose p-1 pl-0 indent-1;
  }
  .option {
    @apply bg-secondary text-primary hover:bg-accent focus:border-0
  }
}

@theme {
  /* colors */
  --color-primary: #e4fde1;
  --color-secondary: #061826;
  --color-accent: #0471a6;
  --color-danger: #f53747;
  --color-success: #00916e;
  --color-warning: #f9c80e;

  /* fonts */
  --font-primary: 'Quicksand', serif;
  --font-secondary: 'Open Sans', serif;

  /* font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.bg-gradient {
  background: linear-gradient(to right, #e4fde1, #b4d8c6, #89b3ac, #658e92, #658e92, #658e92);
}